/* 横長 */
@media (min-aspect-ratio: 4/3) {
    main {
        inline-size: calc(100svh * 4 / 3);
        block-size: 100svh;
        left: calc(50svw - 50svh * 4 / 3);
        top: 0;
    }
    :root {
        font-size: calc(5svh * 4 / 3 * 0.999);
    }
}
/* 縦長 */
@media (max-aspect-ratio: 4/3) {
    main {
        inline-size: 100svw;
        block-size: calc(100svw * 3 / 4);
        left: 0;
        top: calc(50svh - 50svw * 3 / 4);
    }
    :root {
        font-size: calc(5svw * 0.999);
    }
}

main {
    aspect-ratio: 4 / 3;
    position: fixed;
    padding: 0.25rem;
}

#card {
    background-color: #FFF;
    color: #336;
    border-radius: 0.25rem;
    inline-size: 100%;
    block-size: calc(100% - 5rem);
    margin-inline: auto;
    padding-inline: 0.25rem;
    overflow-y: scroll;
}

#card-header {
    background-color: #336;
    padding: 0.25rem;
    border-radius: 0.125rem;
    margin-block-start: 0.25rem;
    margin-block-end: 0.125rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    display: grid;
}

#card-title {
    color: #FFF;
    block-size: 1rem;
}

#card-category {
    background-color: #99C;
    color: #336;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.1rem;
    block-size: 1rem;
    border-radius: 0.125rem;
    display: block;
}

#card-category.main {
    background-color: #F99;
    color: #600;
}
#card-category.sub {
    background-color: #9F9;
    color: #060;
}
#card-category.special {
    background-color: #99F;
    color: #006;
}
#card-category.weapon-set {
    background-color: #FFF;
    color: #666;
}
#card-category.gear-power {
    background-color: #999;
    color: #000;
}

label:has(#main:checked) {
    background-color: #F99;
    color: #600;
}
label:has(#sub:checked) {
    background-color: #9F9;
    color: #060;
}
label:has(#special:checked) {
    background-color: #99F;
    color: #006;
}
label:has(#weapon-set:checked) {
    background-color: #FFF;
    color: #666;
}
label:has(#gear-power:checked) {
    background-color: #999;
    color: #000;
}

#card-body {
    color: #669;
    line-height: 1.5em;
}

mark {
    background-color: #FF3;
    color: #663;
    border-radius: 0.25rem;
}

#control {
    inline-size: 100%;
    margin-inline: auto;
    margin-block-start: 0.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0.25rem;
    display: grid;
}

#category-button {
    background-color: #669;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr;
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
    padding-block: 0.25rem;
    gap: 0.25rem;
    display: grid;
}

#category-button label {
    background-color: #99C;
    color: #669;
    text-align: center;
    border-radius: 0.125rem;
    font-size: 0.8rem;
    padding: 0.1rem;
    -webkit-user-select: none; /* Safari */
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

#change-button {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 0.25rem;
    gap: calc(33% + 0.25rem * 2);
    display: grid;
}

#back {
    background-color: #99C;
    color: #336;
}
#next {
    background-color: #FF3;
    color: #663;
}
#back:active {
    background-color: #669;
    color: #336;
}

#next:active {
    background-color: #CC0;
    color: #663;
}
#back, #next {
    padding-block: 1rem;
    border-style: none;
    border-radius: 0.25rem;
    inline-size: 100%;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    user-select: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

:root, body {
    inline-size: 100%;
    block-size: 100%;
    overflow: hidden;
}

body {
    background-color: #336;
}

:root {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
    /* font-feature-settings: "fwid", "fnum"; */
    word-spacing: 0;
    word-break: break-all;
    letter-spacing: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    text-decoration: none;
    outline: none;
}
